* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* body {
    background-image: url("guiimg.png");
} */

.guitar-box {
    margin-left: 90px;
    margin-top: 20px;
    height: 60vh;
    width: 1200px;
    padding-top: 270px;
    position: absolute;
    background-image: url("guiimg.png");
}

/* .stringtop {
    margin-left: 65px;
    height: 10px;
    width: 77vw;
    background-color: orange;
    margin-top: 229px;
    margin-bottom: 120px;
} */

.string {
    margin-left: 0px;
    height: 10px;
    width: 100%;
    background-color: gold;
    margin-top: 60px;
}